body {
    display: flex;
    justify-content: space-between;
}

#content {
    flex: 1 1 65%;
    padding: 32px;
}

h2 ~ h2 {
    margin-top: 50px;
}

.date {
    color: lightgray;
    font-style: italic;
}

a {
    text-decoration: none;
    color: blue;
}

#sidebar {
    padding: 16px;
    flex: 1 1 30%;
    background-color: #efefef;
}

body #content h1:first-child {
    border-bottom: solid 1px #bebebe;
    padding-bottom: 10px;
}

.step-links a {
    background: #bebebe;
    margin: 0 10px;
    display: inline-block;
    padding: 5px 8px;
    border-radius: 2px;
    vertical-align: middle;
}

input, label {
    display: block
}

input, textarea {
    margin-top: 5px;
    border-radius: 5px;
    background: #bebebe33;
    padding-left: 5px;
    padding-right: 5px;
    border: #bebebecc 1px solid;
}

input {
    height: 25px;
    display: inline-block;
}

input[type='submit'] {
    height: 30px;
    width: 100px;
    background: #239B56;
    color: #fff;
}
.success-msg {
    color: green;
}

.error-msg {
    color: red;
}